<div class="container">
  <h1>類似求人検索</h1>
  <%= form_tag manuscripts_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
  <% end %>
    <% @manuscripts.each do |manuscript|%>
      <%= manuscript.title.gsub(/(￥r￥n|￥r|￥n)/, "") %>
      <%= manuscript.job_content.gsub(/(￥r￥n|￥r|￥n)/, "") %>
      <%= manuscript.remarks.gsub(/(￥r￥n|￥r|￥n)/, "").truncate(50) %>
      <%= link_to '詳細', manuscript %>
    <% end %>
</div>
