<p id="notice"><%= notice %></p>

<h1>Manuscripts</h1>
<%= form_tag manuscripts_path, :method => 'get' do %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search", :name => nil %>
<% end %>
<!-- この入力をスペース区切りでcsvに書き出す。 -->

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Title</th>
      <th>Job content</th>
      <th>Remarks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manuscripts.each do |manuscript| %>
      <tr>
        <td><%= manuscript.company %></td>
        <td><%= manuscript.title.gsub(/(￥r￥n|￥r|￥n)/, "") %></td>
        <td><%= manuscript.job_content.gsub(/(￥r￥n|￥r|￥n)/, "") %></td>
        <td><%= manuscript.remarks.gsub(/(￥r￥n|￥r|￥n)/, "") %></td>
        <td><%= link_to 'Show', manuscript %></td>
        <!-- <td><%= link_to 'Edit', edit_manuscript_path(manuscript) %></td> -->
        <!-- <td><%= link_to 'Destroy', manuscript, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manuscript', new_manuscript_path %>
