<p id="notice"><%= notice %></p>
<div class="container">
お手本の求人情報が見つかる！
<h1>過去リクサーチ</h1>
<div class="col-5">
  <%= form_tag manuscripts_path, :method => 'get' do %>
    <div class="input-group mb-3">
      <%= text_field_tag :search, params[:search], class:"form-control" %>
      <div class="input-group-append">
        <%= submit_tag "検索する", :name => nil, class:'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Title</th>
      <th>Job content</th>
      <th>Remarks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manuscripts.each do |manuscript| %>
      <tr>
        <td><%= manuscript.company %></td>
        <td><%= manuscript.title.gsub(/(￥r￥n|￥r|￥n)/, "") %></td>
        <td><%= manuscript.job_content.gsub(/(￥r￥n|￥r|￥n)/, "").truncate(200) %></td>
        <td><%= manuscript.remarks.gsub(/(￥r￥n|￥r|￥n)/, "").truncate(50) %></td>
        <td><%= link_to 'Show', manuscript %></td>
      </tr>
    <% end %>
    <%= will_paginate @manuscripts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer,:previous_label=>'前', :next_label=>'次', class:"navbar-center"%>
  </tbody>
</table>
</div>
