<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @manuscript.f_comp_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @manuscript.f_job_title.gsub(/(￥r￥n|￥r|￥n)/, "") %>
</p>

<p height='250px'>
  <strong>Job content:</strong>
  <%= @manuscript.f_job_desc_text.gsub(/(￥r￥n|￥r|￥n)/, "") %>
</p>



<%= link_to 'Edit', edit_manuscript_path(@manuscript) %> |
<%= link_to 'Back', manuscripts_path %>
